@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

:root{
    --blue-metallic: #087e8b;
    --red: #ff5a5f;
    --black-jet: #3c3c3c;
    --whithe-cultured: #f5f5f5;
    --lavender-color: #c1839f;

}

body{
    background: var(--black-jet);
}

#header{
    background: var(--red);
    padding: 20px 20px 0px 20px;
    /* position: fixed;  Para telefono */
    width: 100%;
}

.header-logoMenu{
    display: flex;
    justify-content: space-between;
}

#logo{
    display: flex;
    width: 40%;
    align-items: center;
}

#logo p{
    min-width: 100px;
    font-size: 2rem;
    font-weight: 700;
}

#header-img{
    width: 90px;
    min-width: 70px;
}

#menu{
    align-self: center;
    width: 4%;
    min-width: 20px;
}

#menu-img{
    width: 100%;
}

#nav-bar ul{
    display: flex;
    font-size: 1.5em;
    list-style: none;
    align-content: center;
    justify-content: center;
}

.nav-link{
    border-radius: 5px;
    color: var(--whithe-cultured);
    font-weight: 200;
    padding: 5px;
    text-decoration: none;
}

.nav-link:hover{
    background: var(--black-jet);

}

main{
    /* padding: 10px 50px; */
    /* height: 200vh; */
}

.section{
    position: relative;
    padding: 60px 20px;
}

.features{
    max-width: 1200px;
    align-items: center;
    color: var(--whithe-cultured);
    display: flex;   
    margin: 0 auto; 
    margin-top: 20px;
    padding: 20px;
}

@media (max-width: 400px){
    .features{
        background: #292929;
        flex-direction: column;
        border-radius: 5px;
    }
}

.features img{
    width: 100px;
}

.features-info{
    margin-left: 10px;
}

#section-pricing{
    background-color: var(--blue-metallic);
    display: grid;
    grid-row: auto auto auto;
    position: relative;
}

#logo-pricing{
    width: 100px;
    position: absolute;
    left: calc(50% - 50px);
    top: calc(-50px);
}

.container-plans{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, minmax(200px, 600px));
}

.plans{
    border: 1px solid;
    min-height: 200px;
    border-radius: 10px;
    padding: 20px;
}

.plans h2{
    text-align: center;
}

#silver{
    background-color: rgb(190, 190, 190);
}

#gold{
    background-color: rgb(255, 201, 83);
}

#platinum{
    background-color: var(--black-jet);
    color: rgb(255, 196, 32);
}

@media (max-width: 800px){
    .container-plans{
        grid-template-columns: minmax(200px, 400px);
        grid-template-rows: repeat(3, 200px);
        justify-content: center;
    }
}

#register{
    background-color: var(--red);
    color: var(--whithe-cultured);
    grid-area: 2/2/3/3;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    width: 50%;
}

#section-preregister{
    background-color: var(--whithe-cultured);
}

#logo-discount{
    width: 80px;
    position: absolute;
    left: calc(50% - 50px);
    top: calc(-50px);
}