@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

:root{
    --blue-metallic: #087e8b;
    --red: #ff5a5f;
    --black-jet: #3c3c3c;
    --whithe-cultured: #f5f5f5;
    --lavender-color: #c1839f;

}

body{
    background: var(--black-jet);
}

#header{
    background: var(--red);
    padding: 20px 20px 0px 20px;
    width: 100%;
    display: grid;
}

.header-logoMenu{
    display: flex;
    justify-content: space-between;
}

#logo{
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
}

#logo p{
    min-width: 100px;
    font-size: 2rem;
    font-weight: 700;
}

#header-img{
    width: 90px;
    min-width: 60px;
}

#nav-bar ul{
    display: flex;
    font-size: 1.5em;
    list-style: none;
    justify-content: flex-end;
}

.nav-link{
    border-radius: 5px;
    color: var(--whithe-cultured);
    font-weight: 200;
    padding: 5px 10px;
    text-decoration: none;
}

@media (max-width: 1000px){
    #logo p{
        font-size: 1.5rem;
    }

    #logo{
        justify-content: center;
    }

    #header-img{
        max-width: 85px;
        min-width: 80px;
    }

    #nav-bar ul{
        justify-content: center;
    }
}

.nav-link:hover{
    background: var(--black-jet);

}

.section{
    position: relative;
    padding: 60px 20px;
}

.features{
    max-width: 1200px;
    align-items: center;
    color: var(--whithe-cultured);
    display: flex;   
    margin: 0 auto; 
    margin-top: 20px;
    padding: 20px;
}

@media (max-width: 400px){
    .features{
        background: #292929;
        flex-direction: column;
        border-radius: 5px;
    }
}

.features img{
    width: 100px;
}

.features-info{
    margin-left: 10px;
    font-size: 1.2em;
}

#section-pricing{
    background-color: var(--red);
    display: grid;
    grid-row: auto auto auto;
    position: relative;
}

#logo-pricing{
    width: 100px;
    position: absolute;
    left: calc(50% - 50px);
    top: calc(-50px);
}

.container-plans{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, minmax(200px, 600px));
}

.plans{
    border: 1px solid;
    min-height: 200px;
    border-radius: 10px;
    padding: 20px;
}

.plans h2{
    text-align: center;
}

#silver{
    background-color: rgb(190, 190, 190);
}

#gold{
    background-color: rgb(255, 201, 83);
}

#platinum{
    background-color: var(--black-jet);
    color: rgb(255, 196, 32);
}

@media (max-width: 800px){
    .container-plans{
        grid-template-columns: minmax(200px, 400px);
        grid-template-rows: repeat(3, 200px);
        justify-content: center;
    }

    #header{
        position: fixed;
        top: 0;
        flex-wrap: wrap;
        margin-bottom: 200px;
        z-index: 1;
    }

    #section-feature{
        margin-top: 100px;
    }

    .nav-link{
        padding: 5px;
    }
}

#section-trailer{
    background: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--whithe-cultured);
}

#video{
    margin-top: 10px;
    min-width: 200px;
    max-width: 700px;
    width: 60%;
}

#section-trailer h2{
    text-align: center;
}

#register{
    background-color: var(--red);
    color: var(--whithe-cultured);
    grid-area: 2/2/3/3;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    width: 50%;
}

#section-preregister{
    background-color: var(--whithe-cultured);
    padding-bottom: 30px;
    font-style: italic;
}

#logo-discount{
    width: 80px;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(-40px);
}

#discount{
    color: var(--red);
    font-weight: 500;
}

.container-preregister{
    max-width: 1200px;
    font-size:  1.5em;
    text-align: center;
    margin: 0 auto;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#email{
    width: 50%;
    padding: 10px;
    border: 1px solid #3c3c3c;
    border-radius: 10px;
}

#submit{
    background-color: rgb(255, 196, 32);
    border: none;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: 800;
    margin-top: 10px;
    padding: 1px 5px;
    width: 180px;
}

#submit:hover{
    background-color: rgb(255, 187, 0);
}

footer{
    color: var(--whithe-cultured);
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

footer a{
    color: var(--whithe-cultured);
    text-decoration: underline;
}